//

$body-color: #bfc8d9;
$body-bg: #14181f;

$base-border-color: rgba(255, 255, 255, 0.05);

$career-dropdown-link-hover-bg: #0f1f3d;

@import "./../../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: Roboto;
}

#header {
  @extend .navbar;
  @extend .navbar-expand;

  border-bottom: 1px solid $base-border-color;
}

#header-brand {
  @extend .navbar-brand;
  margin-left: var(--bs-navbar-brand-margin-end);
  color: $body-color;

  &:hover {
    color: $body-color;
  }
}

.header-item {
  @extend .nav-link;
  color: $body-color;

  &:hover,
  &:target {
    color: $body-color;
  }
}

.navbar-nav {
  .header-item {
    &.active,
    &.show {
      color: $body-color;
      font-weight: bold;
    }
  }
}

#career-dropdown-menu {
  border-color: $base-border-color;
}

.career-dropdown-item {
  padding: 0;

  a {
    @extend .dropdown-item;

    padding: 8px 32px;

    &.active {
      background-color: $body-bg;
    }

    &:hover {
      background-color: $career-dropdown-link-hover-bg;
    }
  }

  &:hover {
    background-color: $career-dropdown-link-hover-bg;
  }
}
